<footer>
    <div class="footer-left">
        <p class="no-margin">&copy HTBrown {{ "now" | date: "%Y"}}</p>
    </div>
    <div class="footer-right">
        <div class="aside">
            <a href="https://gitlab.com/htbrown/htbrown.com/-/commit/{{ meta.git.commit }}" class="category commit">{{ meta.git.shortCommit }}</a>
            <p class="version">v{{ meta.version }}{% if meta.git.branch != "main" %}p{% endif %}</p>
        </div>
    </div>
</footer>
