<header>
    <div class="header-icon">
        <a href="/" class="avatar-link">
            <img eleventy:formats="webp" eleventy:widths="80" class="avatar rounded" src="/img/baby.png" alt="HTBrown">
        </a> 
    </div>
    <div class="header-text">
        <h1>hi, i'm <em><strong>hayden</strong></em>.</h1>
        {% include "navigation" %}
    </div>
    <div class="header-socials">
        {% include 'socials' %}
    </div>
</header>
