<nav>
    <a class="nav-item burger" id="navBurger"><i class="ai-three-line-horizontal"></i></a>
    <div class="menu" id="navMenu">
        {% for item in navigation %}
            <a href="{{ item.link }}" class="nav-item{% if item.link == page.url %} active{% endif %}">{{ item.name }}</a>
        {% endfor %}
    </div>
</nav>
