<ul class="categories {% if mobile %}hidden-desktop hidden-tablet{% elsif desktop %}hidden-mobile{% else %}post{% endif %}">
    {% for category in categories %}<a href="/posts/category/{{ category }}" class="category"><li>{{ category }}</li></a>{% endfor %}
</ul>
