---
title: Blog Category Archive
description: Blog posts, but sorted by category
layout: page
permalink: /blog/archive
---

{% assign sitecats = site.categories | sort %}

{% for category in sitecats %}
    <section id="{{ category | first | replace:' ','-' }}">

        {% unless forloop.first %}<hr>{% endunless %}

        <h1>{{ category | first }}</h1>

        {% for posts in category %}
            {% for post in posts %}{% if post.url %}
                <section>
                    <h1><a class="title-link" href="{{ post.url }}">{{ post.title }}</a></h1>
                    <p>{{ post.date | date: '%d %B %Y' }}</p>
                </section>
            {% endif %}{% endfor %}
        {% endfor %}
    </section>
{% endfor %}