<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ include.title }} / HTBrown</title>
<link rel="stylesheet" href="/assets/css/main.css">
<script src="https://kit.fontawesome.com/3da63ac8e8.js" crossorigin="anonymous"></script>

<!-- start metadata nonsense -->
<meta name="title" content="{{ include.title }} / HTBrown">
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="htbrown, hayden brown, hayden, brown, htbrown.com, web dev, web, graphics, music, tech, developer, full-stack, full stack, dev, c#, js, javascript, c++, cpp, python, java, go">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="HTBrown">

<meta name="og:title" content="{{ include.title }} / HTBrown">
<meta name="og:description" content="{{ page.description }}">
<meta name="og:keywords" content="htbrown, hayden brown, hayden, brown, htbrown.com, web dev, web, graphics, music, tech, developer, full-stack, full stack, dev, c#, js, javascript, c++, cpp, python, java, go">
<meta name="og:author" content="HTBrown">

<meta name="twitter:title" content="{{ include.title }} / HTBrown">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:keywords" content="htbrown, hayden brown, hayden, brown, htbrown.com, web dev, web, graphics, music, tech, developer, full-stack, full stack, dev, c#, js, javascript, c++, cpp, python, java, go">
<meta name="twitter:author" content="HTBrown">
