<div class="banner fixed animate__animated animate__slideInUp">
    <div class="banner-left">
        <p class="light"><strong>Hiya! 👋</strong><span class="banner-spacer"></span>This website uses external services which are required for basic function. By continuing, you agree to the use of the required services. By clicking the "Got it!" button, you agree to the use of minimal, independent analytical tracking.</p>
    </div>
    <div class="banner-right">
        <a href="/privacy" class="btn small no-margin">
            <span>Privacy Statement</span>
        </a>
        <span class="banner-spacer"></span>
        <button class="btn small no-margin">
            <span>Got it!</span>
        </button>
        <span class="banner-spacer"></span>
        <button class="banner-close">
            <i class="ai-cross"></i>
        </button>
    </div>
</div>