<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page.url == "/" %}
            <title>htbrown</title>
        {% else %}
            <title>{{ title | downcase }} / htbrown</title>
        {% endif %}    
        <!-- stylesheets -->
        <link rel="stylesheet" href="/styles/main.css">
        <!-- metadata rubbish -->
        <meta name="description" content="{{ meta.description }}">
        <meta name="theme-color" content="#fd9dc0">
        <!-- open graph -->
        <meta name="og:site_name" content="HTBrown">
        <meta name="og:title" content="{{ title | downcase }}">
        <meta name="og:description" content="{{ description }}">
        <meta name="og:url" content="https://htbrown.com{{ page.url }}">
        <!-- no twitter stuff here, thank you -->
    </head>
    <body>
        {{ content }}
        {% include 'scripts' %}
    </body>
</html>
