---
layout: blank.liquid
tags: posts
permalink: /posts/{{ page.date | getPostYear }}/{{ title | slugify }}/
---

<div class="post-header">
    <div class="post-header-start">
        <h1>{{ title }}</h1>
        {% if description != "" %}<p><em>{{ description }}</em></p>{% endif %}
    </div>
    <div class="post-header-end hidden-mobile">
        <p class="small">{{ page.date | date: "%e %B %Y" }}</p>
        {% include "post_tags", categories: categories %}
    </div>
</div>
<hr />

<section class="post-content">
    {{ content }}
</section>

<section>
    <div class="card">
        <div class="card-body">
            <p>I don't have a comments section for posts. If you want to let me know what you think, post a toot to me on <a href="https://mastodonapp.uk/@htbrown">Mastodon</a>.</p>
        </div>
    </div>
</section>
