@use "colours.scss";
@use "variables.scss";

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: colours.$darkest;

  * {
    box-sizing: border-box;
  }
}

html {
  overflow-y: scroll;
}

body.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: variables.$breakpoint_mobile) {
  .hidden-mobile {
    display: none;
  }
}

@media screen and (min-width: variables.$breakpoint_mobile) and (max-width: variables.$breakpoint_tablet) {
  .hidden-tablet {
    display: none;
  }
}

@media screen and (min-width: variables.$breakpoint_tablet) {
  .hidden-desktop {
    display: none;
  }
}
