@use "colours.scss";
@use "variables.scss";

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2em;
  margin: 1.2em 0;

  .card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 0.6em);
  }
}

.card {
  display: block;
  padding: 1.4em;
  background-color: colours.$darkest;
  border: 2px solid colours.$primary;

  .card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    &:not(:last-child) {
      margin-bottom: 0.4em;
    }
    .categories {
      flex-grow: 2;
    }
  }
  .card-body {
    .categories {
      margin-top: 0.4em;
    }
  }
  &.with-margin {
    margin: 1.2em 0;
  }
}

@media screen and (max-width: variables.$breakpoint_mobile) {
  .card-heading {
    display: block !important; 
  }
  
  .cards {
    .card {
      width: 100%;

      .card-heading {
        display: flex !important;
      }
    }
  }
}
