@use "colours.scss";

ul.categories {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    background-color: colours.$darker;
    color: colours.$lightest;
    padding: 2px 5px;
    margin-bottom: 0.15em;
    font-size: 14px;
    text-decoration: none;

    &:hover {
      background-color: colours.$lightest;
      color: colours.$darkest;
    }
    &:not(:first-child) {
      margin-left: 0.4em;
    }
  }
  &.post {
    margin-top: 0.2em;
  }
}

.category {
  display: inline-block;
  background-color: colours.$darker;
  color: colours.$lightest;
  padding: 2px 5px;
  margin-bottom: 0.15em;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    background-color: colours.$lightest;
    color: colours.$darkest;
  }
}
