$primary: #fd9dc0;
$secondary: #1acc9b;

$dark: #6d3050;
$darker: #41122b;
$darkest: #1b000e;

$light: #ffc6dc;
$lighter: #fbe1eb;
$lightest: #fff3f7;

$red: #d42525;
$orange: #e6761c;
$yellow: #f9c80e;
$green: #7bd46a;
$blue: #1b9aaa;
$purple: #8a3ffc;
