@use "colours.scss";
@use "variables.scss";

details {
  summary {
    color: colours.$primary;
    text-transform: lowercase;
    font-weight: 500;

    &::marker {
      color: colours.$lightest;
    }
    &:hover {
      color: colours.$lightest;
      cursor: pointer;
    }
  }
  .content {
    border-left: 2px solid colours.$primary;
    padding-left: 10px;
    margin-left: 3px;
  }
}
