@use "colours.scss";
@use "variables.scss";

footer {
  margin: variables.$margin_footer;
  opacity: 0.6;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  
  .aside {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .version {
    font-size: 12px;
    color: colours.$lighter;
  }
  .commit {
    font-family: monospace;
    font-size: 12px;
    margin: 0;
  }
}

@media screen and (max-width: variables.$breakpoint_mobile) {
  footer {
    margin: 2.4em 0 1.2em 0;
  }
}
