@use "variables.scss";

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.4em;
  padding: variables.$margin_header;

  .header-icon {
    height: 80px;
  }
  .header-text {
    flex-grow: 2;

    * {
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: variables.$breakpoint_mobile) {
  header {
    padding: 1.2em 0;

    .header-text h1 {
      display: none;
    }
  }
}
