@use "colours.scss";
@use "variables.scss";

/* things in this file should hopefully be ordered by hierarchy. */

body {
  max-width: variables.$body_max_width;
  margin: auto;
  padding: variables.$padding_body;
}

container {
  padding: variables.$margin_container;
}

section {
  margin: variables.$margin_section;
}

hr {
  width: 2em;
  margin: 1em 0;
  border: 1px solid colours.$primary;

  &.short {
    width: 0.8em;
  }
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .post-header-start {
    text-align: left;
  }
  .post-header-end {
    text-align: right;
  }
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.4em;

  .col {
    flex-grow: 1;
  }
}
