@use "colours.scss";
@use "variables.scss";

nav {
  .nav-item {
    color: colours.$lightest;
    font-size: 18px;
    
    &.burger {
      font-size: 36px;
      display: none;
    }
    &.burger:hover {
      cursor: pointer;
    }
    &.active, &:hover, &:active, &:focus {
      background-color: colours.$primary;
      color: colours.$darkest;
      text-decoration: none;
    }
    &.social {
      font-size: 24px;
      text-decoration: none;
    }
  }
  .nav-item:not(:last-child) {
    margin-right: 0.8em;
  }
}

@media screen and (max-width: variables.$breakpoint_mobile) {
  body:has(.menu.open) {
    overflow: hidden;
  }
  nav {
    .nav-item.burger {
      display: inline;
    }
    .menu {
      display: flex;
      position: fixed;
      background-color: colours.$darker;
      justify-content: space-evenly;
      flex-direction: column;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100% - (80px + 2.4em));
      transition: all .1s ease-in-out;
      z-index: 100;

      &.open {
        top: calc(80px + 2.4em);
      }
      .nav-item {
        display: block;
        margin: 0;
        padding: 20px;
        font-size: 36px;
      }
    }
  }
}
