@use "colours.scss";

blockquote {
  margin: 1.4em 0;
  padding: 0.8em;
  border-left: 2px solid colours.$primary;
  background-color: colours.$darker;

  p {
    color: colours.$light;
    font-style: italic;
  }
}
