@use "colours.scss";

body {
  color: colours.$lightest;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: "Outfit", sans-serif;
  margin: 0;
  text-transform: lowercase;

  &.large {
    font-size: 3.2em;
  }
}

.with-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
}

p {
  margin: 0;

  &:not(:last-child):not(.no-margin) {
    margin-bottom: 0.8em;
  }
}

em {
  font-style: italic;
  font-weight: 500;
}

strong {
  color: colours.$primary;
  font-weight: 700;
}

a {
  color: colours.$primary;
  
  &:hover:not(.avatar-link) {
    color: colours.$darkest;
    background-color: colours.$lightest;
    text-decoration: none;
  }
}

.small {
  font-size: 14px;
  text-transform: uppercase;
  color: colours.$light;
}

ul:not(.categories) {
  padding-left: 0.8em;
  margin: 0.4em;

  li {
    padding-left: 0.4em;
    margin: 0.4em 0;

    &::marker {
      color: colours.$primary;
    }
  }
}

.icons {
  i:not(:last-child) {
    margin-right: 0.4em;
  }
  &.large i, &.large a {
    font-size: 24px;
  }
}

