$body_max_width: 40em;

$padding_body: 0 1.2em;

$margin_header: 2.8em 0;
$margin_section: 1.6em 0;
$margin_container: 1.6em 0;
$margin_footer: 3em 0;
$margin_details: 1.2em 0;

$breakpoint_mobile: 800px;
$breakpoint_tablet: 1000px;
$breakpoint_desktop: 1200px;
