@font-face {
    font-family: "akar-icons";
    src: url("/static/fonts/akar/akar-icons.ttf?1f3540771cfc5786c664ac6bc39123ba") format("truetype"),
url("/static/fonts/akar/akar-icons.woff?1f3540771cfc5786c664ac6bc39123ba") format("woff"),
url("/static/fonts/akar/akar-icons.svg?1f3540771cfc5786c664ac6bc39123ba#akar-icons") format("svg");
    font-display: optional;
}

i[class^="ai-"]:before, i[class*=" ai-"]:before {
    font-family: akar-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ai-air:before {
    content: "\f101";
}
.ai-airplay-audio:before {
    content: "\f102";
}
.ai-airplay-video:before {
    content: "\f103";
}
.ai-airpods:before {
    content: "\f104";
}
.ai-alarm:before {
    content: "\f105";
}
.ai-align-bottom:before {
    content: "\f106";
}
.ai-align-horizontal-center:before {
    content: "\f107";
}
.ai-align-left:before {
    content: "\f108";
}
.ai-align-right:before {
    content: "\f109";
}
.ai-align-to-bottom:before {
    content: "\f10a";
}
.ai-align-to-middle:before {
    content: "\f10b";
}
.ai-align-to-top:before {
    content: "\f10c";
}
.ai-align-top:before {
    content: "\f10d";
}
.ai-align-vertical-center:before {
    content: "\f10e";
}
.ai-android-fill:before {
    content: "\f10f";
}
.ai-angular-fill:before {
    content: "\f110";
}
.ai-arrow-back-thick-fill:before {
    content: "\f111";
}
.ai-arrow-back-thick:before {
    content: "\f112";
}
.ai-arrow-back:before {
    content: "\f113";
}
.ai-arrow-clockwise:before {
    content: "\f114";
}
.ai-arrow-counter-clockwise:before {
    content: "\f115";
}
.ai-arrow-cycle:before {
    content: "\f116";
}
.ai-arrow-down-left:before {
    content: "\f117";
}
.ai-arrow-down-right:before {
    content: "\f118";
}
.ai-arrow-down-thick:before {
    content: "\f119";
}
.ai-arrow-down:before {
    content: "\f11a";
}
.ai-arrow-forward-thick-fill:before {
    content: "\f11b";
}
.ai-arrow-forward-thick:before {
    content: "\f11c";
}
.ai-arrow-forward:before {
    content: "\f11d";
}
.ai-arrow-left-thick:before {
    content: "\f11e";
}
.ai-arrow-left:before {
    content: "\f11f";
}
.ai-arrow-repeat:before {
    content: "\f120";
}
.ai-arrow-right-left:before {
    content: "\f121";
}
.ai-arrow-right-thick:before {
    content: "\f122";
}
.ai-arrow-right:before {
    content: "\f123";
}
.ai-arrow-shuffle:before {
    content: "\f124";
}
.ai-arrow-up-down:before {
    content: "\f125";
}
.ai-arrow-up-left:before {
    content: "\f126";
}
.ai-arrow-up-right:before {
    content: "\f127";
}
.ai-arrow-up-thick:before {
    content: "\f128";
}
.ai-arrow-up:before {
    content: "\f129";
}
.ai-ascending:before {
    content: "\f12a";
}
.ai-attach:before {
    content: "\f12b";
}
.ai-augmented-reality:before {
    content: "\f12c";
}
.ai-backspace-fill:before {
    content: "\f12d";
}
.ai-backspace:before {
    content: "\f12e";
}
.ai-bank:before {
    content: "\f12f";
}
.ai-basket:before {
    content: "\f130";
}
.ai-battery-charging:before {
    content: "\f131";
}
.ai-battery-empty:before {
    content: "\f132";
}
.ai-battery-full:before {
    content: "\f133";
}
.ai-battery-low:before {
    content: "\f134";
}
.ai-battery-medium:before {
    content: "\f135";
}
.ai-behance-fill:before {
    content: "\f136";
}
.ai-bell:before {
    content: "\f137";
}
.ai-bicycle:before {
    content: "\f138";
}
.ai-bitcoin-fill:before {
    content: "\f139";
}
.ai-block:before {
    content: "\f13a";
}
.ai-bluetooth:before {
    content: "\f13b";
}
.ai-boat:before {
    content: "\f13c";
}
.ai-book-close:before {
    content: "\f13d";
}
.ai-book-open:before {
    content: "\f13e";
}
.ai-bootstrap-fill:before {
    content: "\f13f";
}
.ai-box:before {
    content: "\f140";
}
.ai-briefcase:before {
    content: "\f141";
}
.ai-bug:before {
    content: "\f142";
}
.ai-cake:before {
    content: "\f143";
}
.ai-calculator:before {
    content: "\f144";
}
.ai-calendar:before {
    content: "\f145";
}
.ai-camera:before {
    content: "\f146";
}
.ai-cart:before {
    content: "\f147";
}
.ai-chat-add:before {
    content: "\f148";
}
.ai-chat-approve:before {
    content: "\f149";
}
.ai-chat-bubble:before {
    content: "\f14a";
}
.ai-chat-dots:before {
    content: "\f14b";
}
.ai-chat-edit:before {
    content: "\f14c";
}
.ai-chat-error:before {
    content: "\f14d";
}
.ai-chat-question:before {
    content: "\f14e";
}
.ai-chat-remove:before {
    content: "\f14f";
}
.ai-check-box-fill:before {
    content: "\f150";
}
.ai-check-box:before {
    content: "\f151";
}
.ai-check-in:before {
    content: "\f152";
}
.ai-check:before {
    content: "\f153";
}
.ai-chess:before {
    content: "\f154";
}
.ai-chevron-down-small:before {
    content: "\f155";
}
.ai-chevron-down:before {
    content: "\f156";
}
.ai-chevron-horizontal:before {
    content: "\f157";
}
.ai-chevron-left-small:before {
    content: "\f158";
}
.ai-chevron-left:before {
    content: "\f159";
}
.ai-chevron-right-small:before {
    content: "\f15a";
}
.ai-chevron-right:before {
    content: "\f15b";
}
.ai-chevron-up-small:before {
    content: "\f15c";
}
.ai-chevron-up:before {
    content: "\f15d";
}
.ai-chevron-vertical:before {
    content: "\f15e";
}
.ai-circle-alert-fill:before {
    content: "\f15f";
}
.ai-circle-alert:before {
    content: "\f160";
}
.ai-circle-check-fill:before {
    content: "\f161";
}
.ai-circle-check:before {
    content: "\f162";
}
.ai-circle-chevron-down-fill:before {
    content: "\f163";
}
.ai-circle-chevron-down:before {
    content: "\f164";
}
.ai-circle-chevron-left-fill:before {
    content: "\f165";
}
.ai-circle-chevron-left:before {
    content: "\f166";
}
.ai-circle-chevron-right-fill:before {
    content: "\f167";
}
.ai-circle-chevron-right:before {
    content: "\f168";
}
.ai-circle-chevron-up-fill:before {
    content: "\f169";
}
.ai-circle-chevron-up:before {
    content: "\f16a";
}
.ai-circle-fill:before {
    content: "\f16b";
}
.ai-circle-minus-fill:before {
    content: "\f16c";
}
.ai-circle-minus:before {
    content: "\f16d";
}
.ai-circle-plus-fill:before {
    content: "\f16e";
}
.ai-circle-plus:before {
    content: "\f16f";
}
.ai-circle-triangle-down-fill:before {
    content: "\f170";
}
.ai-circle-triangle-down:before {
    content: "\f171";
}
.ai-circle-triangle-left-fill:before {
    content: "\f172";
}
.ai-circle-triangle-left:before {
    content: "\f173";
}
.ai-circle-triangle-right-fill:before {
    content: "\f174";
}
.ai-circle-triangle-right:before {
    content: "\f175";
}
.ai-circle-triangle-up-fill:before {
    content: "\f176";
}
.ai-circle-triangle-up:before {
    content: "\f177";
}
.ai-circle-x-fill:before {
    content: "\f178";
}
.ai-circle-x:before {
    content: "\f179";
}
.ai-circle:before {
    content: "\f17a";
}
.ai-clipboard:before {
    content: "\f17b";
}
.ai-clock:before {
    content: "\f17c";
}
.ai-cloud-download:before {
    content: "\f17d";
}
.ai-cloud-upload:before {
    content: "\f17e";
}
.ai-cloud:before {
    content: "\f17f";
}
.ai-codepen-fill:before {
    content: "\f180";
}
.ai-coffee:before {
    content: "\f181";
}
.ai-coin:before {
    content: "\f182";
}
.ai-command:before {
    content: "\f183";
}
.ai-computing:before {
    content: "\f184";
}
.ai-copy:before {
    content: "\f185";
}
.ai-credit-card-alt1:before {
    content: "\f186";
}
.ai-credit-card:before {
    content: "\f187";
}
.ai-cross:before {
    content: "\f188";
}
.ai-crown:before {
    content: "\f189";
}
.ai-css-fill:before {
    content: "\f18a";
}
.ai-cursor:before {
    content: "\f18b";
}
.ai-cut:before {
    content: "\f18c";
}
.ai-dashboard:before {
    content: "\f18d";
}
.ai-data:before {
    content: "\f18e";
}
.ai-dental:before {
    content: "\f18f";
}
.ai-descending:before {
    content: "\f190";
}
.ai-desktop-device:before {
    content: "\f191";
}
.ai-devices:before {
    content: "\f192";
}
.ai-diamond:before {
    content: "\f193";
}
.ai-dice-1:before {
    content: "\f194";
}
.ai-dice-2:before {
    content: "\f195";
}
.ai-dice-3:before {
    content: "\f196";
}
.ai-dice-4:before {
    content: "\f197";
}
.ai-dice-5:before {
    content: "\f198";
}
.ai-dice-6:before {
    content: "\f199";
}
.ai-discord-fill:before {
    content: "\f19a";
}
.ai-django-fill:before {
    content: "\f19b";
}
.ai-door:before {
    content: "\f19c";
}
.ai-dot-grid-fill:before {
    content: "\f19d";
}
.ai-double-check:before {
    content: "\f19e";
}
.ai-double-sword:before {
    content: "\f19f";
}
.ai-download:before {
    content: "\f1a0";
}
.ai-draft:before {
    content: "\f1a1";
}
.ai-drag-horizontal-fill:before {
    content: "\f1a2";
}
.ai-drag-vertical-fill:before {
    content: "\f1a3";
}
.ai-dribbble-fill:before {
    content: "\f1a4";
}
.ai-dropbox-fill:before {
    content: "\f1a5";
}
.ai-edit:before {
    content: "\f1a6";
}
.ai-enlarge:before {
    content: "\f1a7";
}
.ai-envelope:before {
    content: "\f1a8";
}
.ai-equal-fill:before {
    content: "\f1a9";
}
.ai-equal:before {
    content: "\f1aa";
}
.ai-eye-closed:before {
    content: "\f1ab";
}
.ai-eye-open:before {
    content: "\f1ac";
}
.ai-eye-slashed:before {
    content: "\f1ad";
}
.ai-face-happy:before {
    content: "\f1ae";
}
.ai-face-neutral:before {
    content: "\f1af";
}
.ai-face-sad:before {
    content: "\f1b0";
}
.ai-face-very-happy:before {
    content: "\f1b1";
}
.ai-face-very-sad:before {
    content: "\f1b2";
}
.ai-face-wink:before {
    content: "\f1b3";
}
.ai-facebook-fill:before {
    content: "\f1b4";
}
.ai-figma-fill:before {
    content: "\f1b5";
}
.ai-file:before {
    content: "\f1b6";
}
.ai-filter:before {
    content: "\f1b7";
}
.ai-fire:before {
    content: "\f1b8";
}
.ai-flag:before {
    content: "\f1b9";
}
.ai-flashlight:before {
    content: "\f1ba";
}
.ai-folder-add:before {
    content: "\f1bb";
}
.ai-folder:before {
    content: "\f1bc";
}
.ai-fork-left:before {
    content: "\f1bd";
}
.ai-fork-right:before {
    content: "\f1be";
}
.ai-frame:before {
    content: "\f1bf";
}
.ai-full-screen:before {
    content: "\f1c0";
}
.ai-game-controller:before {
    content: "\f1c1";
}
.ai-gatsby-fill:before {
    content: "\f1c2";
}
.ai-gear:before {
    content: "\f1c3";
}
.ai-gift:before {
    content: "\f1c4";
}
.ai-github-fill:before {
    content: "\f1c5";
}
.ai-gitlab-fill:before {
    content: "\f1c6";
}
.ai-glasses:before {
    content: "\f1c7";
}
.ai-globe:before {
    content: "\f1c8";
}
.ai-google-contained-fill:before {
    content: "\f1c9";
}
.ai-google-fill:before {
    content: "\f1ca";
}
.ai-graphql-fill:before {
    content: "\f1cb";
}
.ai-grid:before {
    content: "\f1cc";
}
.ai-hammer:before {
    content: "\f1cd";
}
.ai-hand:before {
    content: "\f1ce";
}
.ai-hashtag:before {
    content: "\f1cf";
}
.ai-headphone:before {
    content: "\f1d0";
}
.ai-health:before {
    content: "\f1d1";
}
.ai-heart:before {
    content: "\f1d2";
}
.ai-height:before {
    content: "\f1d3";
}
.ai-heptagon-fill:before {
    content: "\f1d4";
}
.ai-heptagon:before {
    content: "\f1d5";
}
.ai-hexagon-fill:before {
    content: "\f1d6";
}
.ai-hexagon:before {
    content: "\f1d7";
}
.ai-history:before {
    content: "\f1d8";
}
.ai-home-alt1:before {
    content: "\f1d9";
}
.ai-home:before {
    content: "\f1da";
}
.ai-html-fill:before {
    content: "\f1db";
}
.ai-image:before {
    content: "\f1dc";
}
.ai-inbox:before {
    content: "\f1dd";
}
.ai-infinite:before {
    content: "\f1de";
}
.ai-info-fill:before {
    content: "\f1df";
}
.ai-info:before {
    content: "\f1e0";
}
.ai-instagram-fill:before {
    content: "\f1e1";
}
.ai-jar:before {
    content: "\f1e2";
}
.ai-javascript-fill:before {
    content: "\f1e3";
}
.ai-jquery-fill:before {
    content: "\f1e4";
}
.ai-key-cap:before {
    content: "\f1e5";
}
.ai-key:before {
    content: "\f1e6";
}
.ai-language:before {
    content: "\f1e7";
}
.ai-laptop-device:before {
    content: "\f1e8";
}
.ai-leaf:before {
    content: "\f1e9";
}
.ai-lifesaver:before {
    content: "\f1ea";
}
.ai-light-bulb:before {
    content: "\f1eb";
}
.ai-link-chain:before {
    content: "\f1ec";
}
.ai-link-off:before {
    content: "\f1ed";
}
.ai-link-on:before {
    content: "\f1ee";
}
.ai-link-out:before {
    content: "\f1ef";
}
.ai-linkedin-box-fill:before {
    content: "\f1f0";
}
.ai-linkedin-fill:before {
    content: "\f1f1";
}
.ai-location:before {
    content: "\f1f2";
}
.ai-lock-off:before {
    content: "\f1f3";
}
.ai-lock-on:before {
    content: "\f1f4";
}
.ai-map:before {
    content: "\f1f5";
}
.ai-mastodon-fill:before {
    content: "\f1f6";
}
.ai-medium-fill:before {
    content: "\f1f7";
}
.ai-mention:before {
    content: "\f1f8";
}
.ai-microphone:before {
    content: "\f1f9";
}
.ai-miniplayer:before {
    content: "\f1fa";
}
.ai-minus:before {
    content: "\f1fb";
}
.ai-mobile-device:before {
    content: "\f1fc";
}
.ai-money:before {
    content: "\f1fd";
}
.ai-moon-fill:before {
    content: "\f1fe";
}
.ai-moon:before {
    content: "\f1ff";
}
.ai-more-horizontal-fill:before {
    content: "\f200";
}
.ai-more-vertical-fill:before {
    content: "\f201";
}
.ai-music-album-fill:before {
    content: "\f202";
}
.ai-music-album:before {
    content: "\f203";
}
.ai-music-note:before {
    content: "\f204";
}
.ai-music:before {
    content: "\f205";
}
.ai-network:before {
    content: "\f206";
}
.ai-newspaper:before {
    content: "\f207";
}
.ai-nextjs-fill:before {
    content: "\f208";
}
.ai-node-fill:before {
    content: "\f209";
}
.ai-normal-screen:before {
    content: "\f20a";
}
.ai-npm-fill:before {
    content: "\f20b";
}
.ai-octagon-fill:before {
    content: "\f20c";
}
.ai-octagon:before {
    content: "\f20d";
}
.ai-octocat-fill:before {
    content: "\f20e";
}
.ai-open-envelope:before {
    content: "\f20f";
}
.ai-oval:before {
    content: "\f210";
}
.ai-panel-bottom:before {
    content: "\f211";
}
.ai-panel-left:before {
    content: "\f212";
}
.ai-panel-right:before {
    content: "\f213";
}
.ai-panel-split-column:before {
    content: "\f214";
}
.ai-panel-split-row:before {
    content: "\f215";
}
.ai-panel-split:before {
    content: "\f216";
}
.ai-panel-top:before {
    content: "\f217";
}
.ai-paper-airplane:before {
    content: "\f218";
}
.ai-paper:before {
    content: "\f219";
}
.ai-parallelogram:before {
    content: "\f21a";
}
.ai-pause:before {
    content: "\f21b";
}
.ai-pencil:before {
    content: "\f21c";
}
.ai-pentagon-fill:before {
    content: "\f21d";
}
.ai-pentagon:before {
    content: "\f21e";
}
.ai-people-group:before {
    content: "\f21f";
}
.ai-people-multiple:before {
    content: "\f220";
}
.ai-percentage:before {
    content: "\f221";
}
.ai-person-add:before {
    content: "\f222";
}
.ai-person-check:before {
    content: "\f223";
}
.ai-person-cross:before {
    content: "\f224";
}
.ai-person:before {
    content: "\f225";
}
.ai-phone:before {
    content: "\f226";
}
.ai-php-fill:before {
    content: "\f227";
}
.ai-pin:before {
    content: "\f228";
}
.ai-pinterest-fill:before {
    content: "\f229";
}
.ai-plane-fill:before {
    content: "\f22a";
}
.ai-plane:before {
    content: "\f22b";
}
.ai-planet:before {
    content: "\f22c";
}
.ai-plant:before {
    content: "\f22d";
}
.ai-play:before {
    content: "\f22e";
}
.ai-plus:before {
    content: "\f22f";
}
.ai-pointer-down-fill:before {
    content: "\f230";
}
.ai-pointer-hand:before {
    content: "\f231";
}
.ai-pointer-left-fill:before {
    content: "\f232";
}
.ai-pointer-right-fill:before {
    content: "\f233";
}
.ai-pointer-up-fill:before {
    content: "\f234";
}
.ai-pointing-up:before {
    content: "\f235";
}
.ai-postgresql-fill:before {
    content: "\f236";
}
.ai-price-cut:before {
    content: "\f237";
}
.ai-product-hunt-fill:before {
    content: "\f238";
}
.ai-python-fill:before {
    content: "\f239";
}
.ai-question-fill:before {
    content: "\f23a";
}
.ai-question:before {
    content: "\f23b";
}
.ai-radio-fill:before {
    content: "\f23c";
}
.ai-radio:before {
    content: "\f23d";
}
.ai-radish:before {
    content: "\f23e";
}
.ai-react-fill:before {
    content: "\f23f";
}
.ai-receipt:before {
    content: "\f240";
}
.ai-reddit-fill:before {
    content: "\f241";
}
.ai-reduce:before {
    content: "\f242";
}
.ai-redux-fill:before {
    content: "\f243";
}
.ai-ribbon:before {
    content: "\f244";
}
.ai-rock-on:before {
    content: "\f245";
}
.ai-rss:before {
    content: "\f246";
}
.ai-sass-fill:before {
    content: "\f247";
}
.ai-save:before {
    content: "\f248";
}
.ai-schedule:before {
    content: "\f249";
}
.ai-scissor:before {
    content: "\f24a";
}
.ai-search:before {
    content: "\f24b";
}
.ai-send:before {
    content: "\f24c";
}
.ai-settings-horizontal:before {
    content: "\f24d";
}
.ai-settings-vertical:before {
    content: "\f24e";
}
.ai-share-box:before {
    content: "\f24f";
}
.ai-shield:before {
    content: "\f250";
}
.ai-shipping-box-v1:before {
    content: "\f251";
}
.ai-shipping-box-v2:before {
    content: "\f252";
}
.ai-shopping-bag:before {
    content: "\f253";
}
.ai-sign-out:before {
    content: "\f254";
}
.ai-slack-fill:before {
    content: "\f255";
}
.ai-slice:before {
    content: "\f256";
}
.ai-snapchat-fill:before {
    content: "\f257";
}
.ai-sort:before {
    content: "\f258";
}
.ai-sound-down:before {
    content: "\f259";
}
.ai-sound-off:before {
    content: "\f25a";
}
.ai-sound-on:before {
    content: "\f25b";
}
.ai-sound-up:before {
    content: "\f25c";
}
.ai-soundcloud-fill:before {
    content: "\f25d";
}
.ai-sparkles:before {
    content: "\f25e";
}
.ai-spotify-fill:before {
    content: "\f25f";
}
.ai-square-fill:before {
    content: "\f260";
}
.ai-square:before {
    content: "\f261";
}
.ai-stack-overflow-fill:before {
    content: "\f262";
}
.ai-star:before {
    content: "\f263";
}
.ai-statistic-down:before {
    content: "\f264";
}
.ai-statistic-up:before {
    content: "\f265";
}
.ai-stop-fill:before {
    content: "\f266";
}
.ai-stop:before {
    content: "\f267";
}
.ai-sun-fill:before {
    content: "\f268";
}
.ai-sun:before {
    content: "\f269";
}
.ai-sword:before {
    content: "\f26a";
}
.ai-tablet-device:before {
    content: "\f26b";
}
.ai-tag:before {
    content: "\f26c";
}
.ai-telegram-fill:before {
    content: "\f26d";
}
.ai-telescope:before {
    content: "\f26e";
}
.ai-tetragon-fill:before {
    content: "\f26f";
}
.ai-tetragon:before {
    content: "\f270";
}
.ai-text-align-center:before {
    content: "\f271";
}
.ai-text-align-justified:before {
    content: "\f272";
}
.ai-text-align-left:before {
    content: "\f273";
}
.ai-text-align-right:before {
    content: "\f274";
}
.ai-threads-fill:before {
    content: "\f275";
}
.ai-three-line-horizontal:before {
    content: "\f276";
}
.ai-three-line-vertical:before {
    content: "\f277";
}
.ai-thumbs-down:before {
    content: "\f278";
}
.ai-thumbs-up:before {
    content: "\f279";
}
.ai-thunder:before {
    content: "\f27a";
}
.ai-ticket:before {
    content: "\f27b";
}
.ai-tiktok-fill:before {
    content: "\f27c";
}
.ai-toggle-off-fill:before {
    content: "\f27d";
}
.ai-toggle-off:before {
    content: "\f27e";
}
.ai-toggle-on-fill:before {
    content: "\f27f";
}
.ai-toggle-on:before {
    content: "\f280";
}
.ai-togo-cup:before {
    content: "\f281";
}
.ai-trash-bin:before {
    content: "\f282";
}
.ai-trash-can:before {
    content: "\f283";
}
.ai-triangle-alert-fill:before {
    content: "\f284";
}
.ai-triangle-alert:before {
    content: "\f285";
}
.ai-triangle-down-fill:before {
    content: "\f286";
}
.ai-triangle-down:before {
    content: "\f287";
}
.ai-triangle-fill:before {
    content: "\f288";
}
.ai-triangle-left-fill:before {
    content: "\f289";
}
.ai-triangle-left:before {
    content: "\f28a";
}
.ai-triangle-right-fill:before {
    content: "\f28b";
}
.ai-triangle-right:before {
    content: "\f28c";
}
.ai-triangle-up-fill:before {
    content: "\f28d";
}
.ai-triangle-up:before {
    content: "\f28e";
}
.ai-triangle:before {
    content: "\f28f";
}
.ai-trophy:before {
    content: "\f290";
}
.ai-truck:before {
    content: "\f291";
}
.ai-tumblr-fill:before {
    content: "\f292";
}
.ai-twitch-fill:before {
    content: "\f293";
}
.ai-twitter-fill:before {
    content: "\f294";
}
.ai-two-line-horizontal:before {
    content: "\f295";
}
.ai-two-line-vertical:before {
    content: "\f296";
}
.ai-typescript-fill:before {
    content: "\f297";
}
.ai-umbrella:before {
    content: "\f298";
}
.ai-unsplash-fill:before {
    content: "\f299";
}
.ai-utensils:before {
    content: "\f29a";
}
.ai-vape-kit:before {
    content: "\f29b";
}
.ai-vercel-fill:before {
    content: "\f29c";
}
.ai-victory-hand:before {
    content: "\f29d";
}
.ai-video:before {
    content: "\f29e";
}
.ai-vimeo-fill:before {
    content: "\f29f";
}
.ai-vk-fill:before {
    content: "\f2a0";
}
.ai-vr-ar:before {
    content: "\f2a1";
}
.ai-vscode-fill:before {
    content: "\f2a2";
}
.ai-vue-fill:before {
    content: "\f2a3";
}
.ai-wallet:before {
    content: "\f2a4";
}
.ai-watch-device:before {
    content: "\f2a5";
}
.ai-water:before {
    content: "\f2a6";
}
.ai-whatsapp-fill:before {
    content: "\f2a7";
}
.ai-width:before {
    content: "\f2a8";
}
.ai-wifi:before {
    content: "\f2a9";
}
.ai-wine-glass:before {
    content: "\f2aa";
}
.ai-x-fill:before {
    content: "\f2ab";
}
.ai-x-small:before {
    content: "\f2ac";
}
.ai-yarn-fill:before {
    content: "\f2ad";
}
.ai-yelp-fill:before {
    content: "\f2ae";
}
.ai-youtube-fill:before {
    content: "\f2af";
}
.ai-zoom-fill:before {
    content: "\f2b0";
}
.ai-zoom-in:before {
    content: "\f2b1";
}
.ai-zoom-out:before {
    content: "\f2b2";
}
