---
---

@import 'colours';
@import 'text';
@import 'containers';
@import 'footer';
@import 'buttons';
@import 'navigation';
@import 'tables';
@import 'pills';
@import 'cards';

body, html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

html {
    margin: 0;
    background-color: $primary;
}

body {
    background-color: $light;
    overflow-x: hidden;
    border: 1vh solid $primary;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

main.with-nav {
    height: calc(100% - 100px - 1vh);
    width: calc(100% - 2vh);
    position: absolute;
    top: 100px;
    left: 1vh;
}

main.centred {
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 1vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $light; 
}
 
::-webkit-scrollbar-thumb {
  background: darken($primary, 10%); 
}

::-webkit-scrollbar-thumb:hover {
  background: $dark; 
}

#easterEgg {
    background: transparent;
    border: none !important;
    outline: none !important;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
}