---
---

@import 'colours';
@import 'backgroundFade';
@import 'containers';
@import 'text';
@import 'nav';
@import 'footer';
@import 'tech';
@import 'markdown';

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), linear-gradient(to bottom right, #D0026C, #943194, #003294);
    background-size: 400% 400%;
    background-attachment: fixed;

    -webkit-animation: backgroundFade 20s ease infinite;
    -moz-animation: backgroundFade 20s ease infinite;
    animation: backgroundFade 20s ease infinite;

    display: flex;
    align-items: center;
}

#easterEgg {
    background: transparent;
    border: none !important;
    outline: none !important;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
}