---
---

@import 'colours';
@import 'text';
@import 'containers';
@import 'footer';
@import 'buttons';
@import 'navigation';
@import 'tables';
@import 'pills';
@import 'cards';
@import 'banners';
@import 'markdown';

body, html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

html {
    margin: 0;
    background-color: $light;
}

body {
    background-color: $light;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border: 1vh solid $primary;
}

main {
    flex: 1 1 auto;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
  margin-right: 10px;
}

main.with-nav {
    height: calc(100% - 100px - 1vh);
    width: calc(100% - 2vh);
    position: absolute;
    top: 100px;
    left: 1vh;
}

main.centred {
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 1vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: darken($light, 5%); 
}
 
::-webkit-scrollbar-thumb {
  background: darken($primary, 10%); 
}

::-webkit-scrollbar-thumb:hover {
  background: $dark; 
}

*:target {
  animation: targetFlash 2s;
  animation-delay: .5s;
  border-radius: 4px;
}

@keyframes targetFlash {
  0% { background-color: transparent; }
  20% { background-color: darken($light, 10%); padding: 20px; }
  30% { background-color: transparent; }
  40% { background-color: darken($light, 10%); padding: 20px; }
  50% { background-color: transparent; }
  60% { background-color: darken($light, 10%); padding: 20px; }
  70% { background-color: transparent; }
}

#easterEgg {
    background: transparent;
    border: none !important;
    outline: none !important;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
}