button, a.btn {
    outline: none;
    text-decoration: none;
    border: none;
    font-size: 18px;
}

.btn {
    padding: 10px 60px;
    background-color: white;
    border-radius: 4px;
    border: 3px solid $primary !important;
    display: inline-block;
    transition: all .1s;
    color: $primary;
}

.btn span {
    color: $primary !important;
    transition: all .1s;
    display: inline-block;
    transform: translateX(-25px);
}

.btn span:after {
    content: url(/assets/svg/arrow-right.svg);
    position: absolute;
    left: calc(100% + 10px);
    transition: all .1s;
}

.btn:hover {
    background-color: darken(white, 10%);
}

.btn:hover span:after {
    left: calc(100% + 15px);
}