.card {
    padding: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: darken($light, 5%);
    display: flex;
    align-items: center;

    &.placeholder {
        animation: cardPulse 1s infinite ease;
        width: 22vw;
        height: 22vh;
    }

    &.fixed {
        width: 22vw !important;
        min-height: 22vh !important;
    }

    &.dark {
        background-color: $dark;
        *:not(i) {
            color: $light;
        }
    }

    a {
        color: $light !important;
        &:after {
            background-color: $light !important;
        }
        &:hover:after {
            background-color: $primary !important;
        }
    }
}

i.featured {
    margin-left: 12px;
    color: rgb(255, 196, 0);
}

@media screen and (max-width: 1400px) {
    .card {
        &.placeholder {
            width: 40%;
        }
        &.fixed {
            width: 40% !important;
            height: auto !important;
        }
    }
}

@media screen and (max-width: 1100px) {
    .card {
        &.placeholder {
            width: 100%;
        }
        &.fixed {
            width: 100% !important;
            height: auto !important;
        }
    }
}

@keyframes cardPulse {
    0% { background-color: darken($light, 10%); }
    50% { background-color: darken($light, 5%); }
    100% { background-color: darken($light, 10%); }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
}