.container {
    margin: 5vh 5vw;
    width: 95%;
}

section {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 75%;
}

.fullwidth {
    width: 100% !important;
}

@media screen and (max-width: 1000px) {
    section {
        width: 95%;
    }
}