footer {
    margin-top: 6em;
    padding-bottom: 20px;

    p {
        margin: 0;
        padding: 0;
    }

    .large {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;

        .pink {
            color: $primary;
        }
    }

    .small {
        font-size: 11px;
    }

    .github {
        padding-left: 5px;
        padding-right: 5px;

        &:after {
            background-color: transparent !important;
        }
        &:hover:after {
            background-color: darken($light, 10%) !important;
        }
    }
    
    .bullet {
        margin-right: 5px;
        margin-left: 5px;
    }
}