footer {
    margin-top: 6em;
    padding-bottom: 20px;

    p {
        margin: 0;
        padding: 0;
    }

    .small {
        font-size: 14px;
    }

    .large {
        font-size: 18px;
        color: $primary;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .version {
        font-size: 9px;
    }
    
    .bullet {
        margin-right: 5px;
        margin-left: 5px;
    }
}