blockquote {
    margin: 10px 10px 10px 0;
    padding: 10px 0px 10px 20px;
    border-left: 5px solid $primary;
    background-color: rgba($primary, .1)

    p {
        margin: 0;
        padding: 0;
    }
}

code {
    padding: 0 3px;
    margin: 0;

    * {
        font-family: monospace;
        padding: 0;
        margin: 0;
    }
}

code.highlighter-rouge {
    background-color: rgba($primary, .25);
    font-family: monospace;
    padding: 0 3px;
}

div.highlight {
    display: block;
    padding: 5px;
    background-color: rgba($primary, .25);
}

hr {
    border: none;
    height: 1px;
    background-color: darken($light, 20%);
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin-top: 2em;
}