.pill {
    background-color: darken($light, 5%);
    text-decoration: none;
    font-size: 18px;
    color: $dark;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;

    &:hover {
        background-color: darken($light, 10%);
    }

    &.active {
        background-color: $dark;
        color: $light;
    }

    &.placeholder {
        display: inline-block;
        background-color: darken($light, 10%);
        animation: pulse 1s infinite ease;
        width: 60px;
        height: 18px;
    }
}

@keyframes pulse {
    0% { background-color: darken($light, 10%); }
    50% { background-color: darken($light, 5%); }
    100% { background-color: darken($light, 10%); }
}