.pill {
    background-color: darken($light, 5%);
    text-decoration: none;
    font-size: 18px;
    color: $dark;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;

    &:hover {
        background-color: darken($light, 10%);
    }

    &.active {
        background-color: $dark;
        color: $light;
    }
}