table {
    border-collapse: collapse;
    border: 2px $dark solid;
}

td, th {
    font-size: 18px;
    padding: 10px;
}

th {
    background-color: $dark;
    color: $light;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: darken($light, 5%);
}

tr:hover {
    background-color: darken($light, 10%);
}