@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin: 10px 0;
}

* {
    font-family: 'Roboto', sans-serif;
    color: $dark;
    font-weight: 100;
}

strong {
    color: $primary;
}

h1 { font-size: 72px; color: $primary; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

@media screen and (max-width: 1000px) {
    h1 { font-size: 46px; color: $primary; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 14px; }
}

p, span {
    font-size: 18px;
    line-height: 30px;
}

.small {
    font-size: 14px;
}

a:not(.btn):not(.nav-item):not(.nav-brand):not(.pill) {
    text-decoration: none;
    color: $primary;
    position: relative;
    z-index: 0;
    height: 100%;
}

a:not(.btn):not(.nav-item):not(.nav-brand):not(.pill):before {
    content: '';
    height: 15%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20%;
    background: $primary;
    transition: all .1s ease;
    transform-origin: bottom left;
    border-radius: 4px;
    z-index: -1;
}

a:hover:not(.btn):not(.nav-item):not(.nav-brand):not(.pill):before {
    height: 130%;
    background-color: darken($light, 10%);
}