@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin: 10px 0;
}

* {
    font-family: 'Roboto', sans-serif;
    color: $dark;
    font-weight: 100;
}

strong {
    color: $primary;
    font-weight: 700;
}

h1 { font-size: 72px; color: $primary; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.heading-padded {
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {
    h1 { font-size: 42px; color: $primary; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 14px; }
}

p, span {
    font-size: 18px;
    line-height: 30px;
}

.small {
    font-size: 14px;
}

.light, .light * {
    color: $light !important;
}

sup {
    font-size: 11px;
}

a:not(.btn):not(.nav-item):not(.nav-brand):not(.pill) {
    text-decoration: none;
    white-space: nowrap;
    color: $primary;
    position: relative;
    z-index: 0;
    &.with-icon i {
        color: $primary;
    }
}

a:not(.btn):not(.nav-item):not(.nav-brand):not(.pill):after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -15%;
    background: $primary;
    transition: all .1s ease;
    transform-origin: bottom left;
    border-radius: 4px;
    z-index: -1;
}

a:hover:not(.btn):not(.nav-item):not(.nav-brand):not(.pill):after {
    height: 132%;
    background-color: darken($light, 10%);
}

li {
    margin-top: 15px;
    margin-bottom: 15px;
}

i.pink {
    color: $primary !important;
}

blockquote {
    border-left: 5px solid $primary;
    margin: 0;
    padding: 10px 60px 10px 30px;
    background-color: darken($light, 5%);
    display: inline-block;
}

.contacts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;

    i {
        font-size: 20px;
        color: $primary;
        padding-right: 15px;
    }
}