<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html title=page.title %}
</head>
<body>
    <button id="easterEgg" onclick="easterEgg()">egg</button>
    {% include nav.html page=page.title %}
    <main class="with-nav">
        <div class="container">
            <h1>{{ page.title }} {% if page.emoji %}{{ page.emoji }}{% endif %}</h1>
            <h2>{{ page.description }}</h2>
            {{ content }}
            {% include footer.html %}
            {% include foot.html %}
        </div>
    </main>
</body>
</html>