{% assign title = page.title | append: ' / Blog' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html title=title %}
</head>
<body>
    <button id="easterEgg" onclick="easterEgg()">egg</button>
    <div class="container">
        <h1>Blog / Hayden Brown</h1>
        {% include socials.html %}
        {% include nav.html page="Blog" %}
        <h1>{{ page.title }}</h1>
        <h3>{{ page.date | date: '%d %B %Y' }} &bull; {% if page.category %}{% for c in page.category %}{{ c }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% else %}uncategorised{% endif %}</h3>    
        <section class="post-content">
            {{ content }}
        </section>
        <section>
            <hr>
            <p class="post-footer">
                Spotted a typo? Inaccurate information? <a href="https://github.com/htbrown/htbrown.github.io">Improve this page on GitHub.</a>
            </p>
        </section>
        {% include footer.html %}
        {% include foot.html %}
    </div>
</body>
</html>