{% assign title = page.title | append: ' / Blog' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html title=title %}
</head>
<body>
    <button id="easterEgg" onclick="easterEgg()">egg</button>
    <div class="container">
        <h1>Blog / Hayden Brown</h1>
        <div class="social-icons">
            <a href="https://twitter.com/{{ site.twitter_username }}" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/{{ site.github_username }}" class="social-icon"><i class="fab fa-github"></i></a>
            <a href="https://twitch.tv/{{ site.twitch_username }}" class="social-icon"><i class="fab fa-twitch"></i></a>
        </div>
        {% include nav.html page="Blog" %}
        <h1>{{ page.title }}</h1>
        <h3>{{ page.date | date: '%d %B %Y' }} &bull; {% if page.category %}{{ page.category }}{% else %}uncategorised{% endif %}</h3>    
        <section class="post-content">
            {{ content }}
        </section>
        <section>
            <hr>
            <p class="post-footer">
                Spotted a typo? Inaccurate information? <a href="https://github.com/htbrown/htbrown.github.io">Improve this page on GitHub.</a>
            </p>
        </section>
        {% include footer.html %}
        {% include foot.html %}
    </div>
</body>
</html>