<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html title=page.title %}
</head>
<body>
    <button id="easterEgg" onclick="easterEgg()">egg</button>
    {% include nav.html page=page.title %}
    <main class="with-nav">
        <div class="container">
            <h1>{{ page.title }} {% if page.emoji %}{{ page.emoji }}{% endif %}</h1>
            <h2>{{ page.description }}</h2>
            <section>
                {% for category in site.categories %}
                    <a href="/work/categories/{{ category }}" class="pill {% if page.title == category %}active{% endif %}">{{ category }}</a>
                {% endfor %}
            </section>
            {% if page.posts %}
                posts
            {% endif %}
            {{ content }}
            <section>
                <h2>Haven't found what you're looking for?</h2>
                <p>You might be able to find it on my GitHub page. Please be aware that many of the projects available on there are unfinished and experimental.</p>
                <a href="https://github.com/htbrown" class="btn"><span>GitHub</span></a>
            </section>
            {% include footer.html %}
            {% include foot.html %}
        </div>
    </main>
</body>
</html>