---
layout: blank.liquid
title: 404
permalink: 404.html
---

<h1>error 404 :(</h1>
<p><em>The page you were looking for doesn't exist.</em></p>

<section>
    <p>
    Looks like the page you were looking for has moved or doesn't exist.
    </p>
</section>

<section>
    <h2>blog post?</h2>
    <p>Have a look through the <a href="/posts/">posts</a> page to see if you can find what you're looking for.</p>
</section>

<section>
    <h2>something else?</h2>
    <p>You can take a look through the navigation on this website, or go <a href="/">home</a> and start from the beginning.</p>
</section>

<section>
    <h2>still nothing?</h2>
    <p>Drop me an <a href="/contact/">email</a> and I'll see if I can help. Keep in mind some things might have been removed from the site and so won't be public.</p>
</section>
