---
layout: blank.liquid
pagination:
    data: collections.categories
    size: 1
    alias: category
permalink: /posts/category/{{ category | slugify }}/
title: post category
description: Posts filtered by a category.
---

<h1>posts: {{ category }}</h1>
<p><em>Posts from the {{ category }} category.</em></p>

{% assign posts = collections.posts | postsByCategory: category %}
<section>
    {% for post in posts reversed %}
        <div class="card with-margin">
            <div class="card-heading">
                <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
                {% include "post_tags", categories: post.data.categories, desktop: true %}
                <p class="small">{{ post.date | date: "%e %B %Y" }}</p>
            </div>
            <div class="card-body">
                <p class="no-margin">{{ post.data.description }}</p>
                {% include "post_tags", categories: post.data.categories, mobile: true %}
            </div>
        </div>
    {% endfor %}
</section>
