---
layout: page.liquid
title: colophon
description: information about htbrown.com
---

<section>
    <p>
    This website is made using a static site generator (SSG) called <a href="https://11ty.dev">Eleventy</a>. <a href="https://vercel.com">Vercel</a> handles building and hosting and the DNS records for htbrown.com point directly to them.
    </p>
    <p>
    <a href="https://cloudflare.com">Cloudflare</a> is used to point the DNS to Vercel but otherwise has no role in serving this website.
    </p>
    <p>
    You can see any third-party projects used by this website in the <a href="/ATTRIBUTION.md">attribution document</a> and view the code at <a href="https://gitlab.com/htbrown/htbrown.com">GitLab</a>. 
    </p>
    <p>
    All resources are served through Vercel from the htbrown.com domain. This includes all fonts and images.
    </p>
    <p>
    None of this website is, to the best of my knowledge, created with artificial intelligence.
    </p>
</section>

<section>
    <h2>javascript</h2>
    <p>
    Efforts have been made to minimise the use of JavaScript on this website. Where possible, any JavaScript used has been designed in a way such that it is not necessary for the function of this website. The only exclusion to this rule is mobile navigation, which does not work with JavaScript disabled.
    </p>
    <p>
    Where possible, uses of JavaScript will be listed here.
    </p>
    <ul>
        <li>Mobile navigation across all pages. Required.</li>
        <li>Decryption of email address on /contact. Not required.</li>
    </ul>
</section>

<section>
    <h2>build information</h2>
    <p>
    This data is valid for the current build.
    </p>
    <ul>
        <li><em>Build Start</em> &mdash; {{ meta.build.dateStarted | date: "%Y-%m-%d %H:%M %Z" }}</li>
        <li><em>Platform</em> &mdash; {{ meta.build.platform }}</li>
        <li><em>Node.js Version</em> &mdash; {{ meta.build.nodeVersion }}</li>
    </ul>
</section>

<section>
    <h2>dependencies</h2>
    <ul>
        {% for d in meta.build.dependencies %}
            <li><em>{{ d[0] }}</em> &mdash; {{ d[1] }}</li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>git information</h2>
    <ul>
        <li><em>Branch</em> &mdash; {{ meta.git.branch }}</li>
        <li><em>Commit Hash</em> &mdash; <code>{{ meta.git.commit }}</code></li>
        <li><a href="https://gitlab.com/htbrown/htbrown.com" target="_blank"><em>Repository</em></a></li>
    </ul>
</section>
