---
layout: page.liquid
title: contact
description: How to contact Hayden.
---

<section>
    <noscript>
        <div class="card">
            <div class="card-body">
                <p>Hey! This page won't automatically decrypt my email address for you because you're blocking JavaScript. That's okay though! <a href="https://en.wikipedia.org/wiki/ROT13" target="_blank">You probably know how it works anyway.</a></p>
            </div>
        </div>
    </noscript>
    <h1 id="email">unlqra@ugoebja.pbz</h1>
    <p class="small no-margin" id="rotLabel">rot-13 encoded</p>
</section>

<section>
    <p>
    There used to be a list of other ways to contact me here but they've been removed because I rarely check them now. Please use the email address above.
    </p>
</section>

<script>
    let email = document.getElementById("email");
    let label = document.getElementById("rotLabel");
    const sleep = ms => new Promise(r => setTimeout(r, ms));
    const decode = async () => {
        if (email.innerHTML !== "unlqra@ugoebja.pbz") return;
        label.innerHTML = "encoded";
        for (let i = 0; i < 13; i++) {
            let array = email.innerHTML.split("");
            let newText = array.map(c => {
                let code = c.charCodeAt(0);
                if (code < 97 || code > 122) return c;
                if (code == 122) return String.fromCharCode(97);
                return String.fromCharCode(code + 1);
            }).join("");
            email.innerHTML = newText;
            await sleep(50);
        }
        label.style.textDecoration = "line-through";
        label.style.color = "grey";
    }
    decode();
</script>
