---
layout: blank.liquid
title: home
description: Aspiring computer scientist with an interest in technology, music, politics and photography.
---

<h1 class="hidden-desktop hidden-tablet">hi, i'm <em><strong>hayden</strong></em>.</h1>
<p>
<em id="tagline">Hayden's corner of the void.</em>
</p>

<section>
    <p>
    I am a computer science student studying at the <a href="https://go.htbrown.net/degree" target="_blank">University of St Andrews</a>. Right now, I'm most interested in computer systems,
    networking and low-level programming, but my interests span most of the subject.
    </p>
</section>

<section>
    <p>
    If you're interested, you can find some of my work on <a href="https://gitlab.com/htbrown" target="_blank">GitLab</a>, take a look at some of my 
    <a href="https://go.htbrown.net/photos" target="_blank">photos</a> or browse my <a href="https://wiki.htbrown.net" target="_blank">wiki</a>.
    </p>
</section>

<section>
    <p>
    If you feel the need to contact me, you can find my email address on the <a href="/contact/">contact</a> page. 
    </p>
</section>
