---
layout: page.liquid
title: knows
description: Hayden's brain can do.
date: git Last Modified
---

<section>
    <p class="small">Last Updated: {{ page.date | date: "%e %B %Y" }}</p>
</section>

<section>
    <p>I'll make this page when I make this page. Probably after results day when I'll have acutal results to put here.</p>
</section>

<section>
    <p><strong>Update:</strong> results day happened. I have no excuse now :(</p>
</section>

<section>
    <p><strong>ANOTHER update:</strong> shhh I'll get round to making this eventually leave me alone.</p>
</section>
