---
layout: page.liquid
title: now
description: Hayden is currently doing.
date: git Last Modified
---

<section>
    <p class="small">Last Updated: {{ page.date | date: "%e %B %Y" }}</p>
</section>
<section>
    <p>
    This page is here to tell you what I'm up to right now. It's inspired by the <a href="https://nownownow.com">nownownow</a> project.
    </p>
</section>
<section>
    <ul>
        <li>Uhhhhhhhhhhhhh something.</li>
    </ul>
</section>
