---
layout: page.liquid
title: posts
description: Hayden rambles about stuff.
---

<section>
    {% for post in collections.posts reversed %}
        <div class="card with-margin">
            <div class="card-heading">
                <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
                {% include "post_tags", categories: post.data.categories, desktop: true %}
                <p class="small">{{ post.date | date: "%e %B %Y" }}</p>
            </div>
            <div class="card-body">
                <p class="no-margin">{{ post.data.description }}</p>
                {% include "post_tags", categories: post.data.categories, mobile: true %}
            </div>
        </div>
    {% endfor %}
</section>
