---
layout: page.liquid
title: uses
description: Hayden often uses.
---

<section>
    <p class="small">Last Updated: {{ uses.lastModified | date: "%e %B %Y" }}</p>
</section>

<section>
    <p>
    Here are the things I use on a regular basis. Favourites will be indicated with a <em><i class="ai-star"></i> star</em> and, where possible, I will include <em><i class="ai-link-chain"></i> links</em> to more information unless I don't recommend something. 
    </p>
    <p>
    This page is inspired by those that are part of the <a href="https://uses.tech">uses.tech</a> project.
    </p>
</section>

<section>
    <h2>devices</h2>
    {% for device in uses.devices %}
        <div class="card with-margin">
            <div class="card-heading">
                <h3><em><i class="{{ device.icon }}"></i></em> {{ device.name }}</h3>
                <div class="icons large">
                    {% if device.star %}<i class="ai-star"></i>{% endif %}
                    {% if device.link %}<a href="{{ device.link }}" target="_blank" aria-label="{{ device.name }} link"><i class="ai-link-chain"></i></a>{% endif %}
                </div>
            </div>
            {% if device.specs or device.comments %}
                <div class="card-body">
                    <div class="row">
                        {% if device.specs %}
                            <div class="col">
                                <h4>specs</h4>
                                <ul>
                                    {% for item in device.specs %}<li>{{ item[0] | titlecase }} &mdash; {{ item[1] }}</li>{% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if device.comments %}
                            <div class="col">
                                <h4>comments</h4>
                                <p>{{ device.comments }}</p>
                            </div>
                        {% endif %}
                    </div> 
                </div>
            {% endif %}
        </div>
    {% endfor %}
</section>

<section>
    <h2>applications</h2>
    <div class="cards small">
        {% for app in uses.applications %}
            <div class="card">
                <div class="card-heading">
                    <div class="with-image">
                        <img eleventy:formats="webp" eleventy:widths="40" src="{{ app.imageUrl }}" alt="{{ app.name }}">
                        <h3>{{ app.name }}</h3>
                    </div>
                    <div class="icons large">
                        {% if app.link %}<a href="{{ app.link }}" target="_blank" aria-label="{{ app.name }} link"><i class="ai-link-chain"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section>
    <h2>services</h2>
    <p>Anything included above that might also be considered a service won't be included here.</p>
    <div class="cards small">
        {% for service in uses.services %}
            <div class="card">
                <div class="card-heading">
                    <h3><em><i class="{{ service.icon }}"></i></em> {{ service.name }}</h3>
                    <div class="icons large">
                        {% if service.link %}<a href="{{ service.link }}" target="_blank" aria-label="{{ service.name }} link"><i class="ai-link-chain"></i></a>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section>
    <h2>anything else?</h2>
    <p>There are a few other things that don't really fit in with the other categories that might be interesting, and they will be shown below.</p>
    <ul>
        {% for other in uses.other %}
            <li>{{ other }}</li>
            {% endfor %}
    </ul>
</section>
